# -----------------------------
# Python & Virtual Env
# -----------------------------
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Build / Dist Artifacts
# -----------------------------
build/
dist/
*.egg-info/
*.egg

# -----------------------------
# Jupyter Checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Project Data
# -----------------------------

# Ignore all raw scraped data (JSON), keep none
main/data/raw/*

# Ignore all processed files...
#main/data/processed/*
# ...except the main cleaned CSV (tracked by git)
#!main/data/processed/cleaned_venues.csv

# -----------------------------
# Logs
# -----------------------------
#ain/logs/
#*.log

# -----------------------------
# Output Visuals
# -----------------------------
main/plots/
*.png
*.jpg
*.svg
*.pdf

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# Local Databases
# -----------------------------
*.db
*.sqlite

# -----------------------------
# Editor & System Files
# -----------------------------
.vscode/
.DS_Store
Thumbs.db